@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-offWhite dark:bg-gray-900;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
}

body:hover::-webkit-scrollbar-thumb {
    @apply bg-customGray dark:bg-customGrayDark;
}